<div class="doc-lightbox" data-doc-lightbox hidden>
  <div class="doc-lightbox__backdrop" data-doc-close aria-hidden="true"></div>
  <div class="doc-lightbox__dialog" role="dialog" aria-modal="true" aria-labelledby="doc-lightbox-title">
    <button type="button" class="doc-lightbox__close" data-doc-close aria-label="Close document preview">
      Close
    </button>
    <div class="doc-lightbox__header">
      <p class="doc-lightbox__kicker" id="doc-lightbox-kicker">Document Preview</p>
      <h3 id="doc-lightbox-title" class="doc-lightbox__title">Document</h3>
      <p class="doc-lightbox__meta" id="doc-lightbox-meta"></p>
    </div>
    <div class="doc-lightbox__stage">
      <button type="button" class="doc-lightbox__nav" data-doc-prev aria-label="Previous document">
        Prev
      </button>
      <img src="" alt="" data-doc-image />
      <button type="button" class="doc-lightbox__nav" data-doc-next aria-label="Next document">
        Next
      </button>
    </div>
  </div>
</div>
