<div class="lightbox" id="image-lightbox" hidden aria-hidden="true">
  <div class="lightbox__backdrop" data-lightbox-close></div>
  <div class="lightbox__dialog" role="dialog" aria-modal="true" aria-label="Image preview">
    <header class="lightbox__header">
      <h3 data-lightbox-title>Image preview</h3>
      <button type="button" data-lightbox-close>Close</button>
    </header>
    <div class="lightbox__toolbar">
      <button type="button" data-rotate-left>Rotate Left</button>
      <button type="button" data-rotate-right>Rotate Right</button>
      <button type="button" data-rotate-reset>Reset</button>
    </div>
    <div class="lightbox__stage">
      <button type="button" data-lightbox-prev>Prev</button>
      <img src="" alt="" data-lightbox-image />
      <button type="button" data-lightbox-next>Next</button>
    </div>
  </div>
</div>
